	<!-- 关键字 -->
	#k{
		color: #8B1C62;
		font-weight:bold;
	}
	<!-- 全局变量 -->
	#g{
		color: #0000FF;
	}
	<!-- 方局部变量 -->
	#f{
		color: #8B5742;
	}
	<!-- 字符串 -->
	#s{
		color: #436EEE;
	}
	<!-- 注解 -->
	#a{
		color: #828282;
	}
	<!-- 绿色注释 -->
	#n-g{
		color: #3CB371;
	}
	<!-- 蓝色注释 -->
	#n-b{
		color: #8470FF;
	}